<template>
  <div>
    <navbar></navbar>
    <div class="row" style="padding-top:3%;">
      <div class="col-md-12" style="padding-right:2%;">
        <h1 style="margin-left: 100px">
          <img
            v-bind:src="productList[0].category.imageURL"
            alt="Category Image"
            style="width: 150px;margin-right:1%"
          >
          <span style="margin-top: 20px">{{productList[0].category.categoryName}} </span>
        </h1>
        <hr>
      </div>
    </div>
    <categorybody :productList="productList"></categorybody>
    <footer-component></footer-component>
  </div>
</template>


<script>
import Categorybody from "@/components/Categorybody";
import Navbar from "@/components/Navbar";
import FooterComponent from "@/components/FooterComponent";
import { BASE_URL_CATEGORY } from "../config/Endpoints.js";

export default {
  name: "Category",
  data() {
    return {
      productList: []
    };
  },

  mounted() {
    fetch(BASE_URL_CATEGORY + "getproducts/" + this.$route.params.categoryId)
      .then(response => {
        return response.json();
      })
      .then(data => {
        // Work with JSON data here

        console.log(data);
        this.productList = data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { Navbar, Categorybody, FooterComponent }
};
</script>
