<template>
  <div>
    <navbar></navbar>
    <div class="container">
    <checkout-body :productList="productList"></checkout-body>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import CheckoutBody from '@/components/CheckoutBody'
import FooterComponent from '@/components/FooterComponent'
import { BASE_URL_CART } from '../config/Endpoints.js'

export default {
  name: 'Checkout',
  data () {
    return {
      productList: [] 
    }
  },
  methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
      this.checkLogin();
      fetch(BASE_URL_CART + 'user/'+localStorage.getItem("userId")).then(response => {
			  return response.json();
			}).then(data => {
			  // Work with JSON data here
		  	
          console.log(data);
          this.productList = data;
          
			}).catch(err => {console.log(err)
			});			
    },
  components: {
    Navbar,
    CheckoutBody,
    FooterComponent
  }
}
</script>
