<template>
  <div>
    <navbar></navbar>
    <home-body></home-body>
    <footer-component></footer-component>
  </div>
</template>
<script>
import Navbar from '@/components/Navbar'
import HomeBody from '@/components/HomeBody'
import FooterComponent from '@/components/FooterComponent'
import {mapGetters, mapActions} from 'vuex'
import axios from 'axios'

export default {
    name : "Home",
    
    components : { Navbar,
        HomeBody,
        FooterComponent
    }
}
</script>
