<template>
  <div>
    <navbar></navbar>
    <merchant-rating-body></merchant-rating-body>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import MerchantRatingBody from '@/components/MerchantRatingBody'
import FooterComponent from '@/components/FooterComponent'


export default {
  name: "MerchantRating",
  methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
    this.checkLogin();
  },
  components: {
    Navbar,
    MerchantRatingBody,
    FooterComponent
  }
};
</script>

