<template>
<div>
  <navbar></navbar>
  <myorders-body></myorders-body>
  <footer-component></footer-component>
</div>
</template>

<script>
import MyordersBody from '@/components/MyordersBody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'

export default {
  name: "Myorders",
  methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
    this.checkLogin();
  },
  components: {
    Navbar,
    MyordersBody,
    FooterComponent
  }
}
</script>

