<template>
    <div>
    <navbar></navbar>
    <myorders-detailsbody></myorders-detailsbody>
    <footer-component></footer-component>
    </div>
</template>


<script>
import MyordersDetailsbody from '@/components/MyordersDetailsbody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'

export default {
    name : "MyordersDetails",
    methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
    this.checkLogin();
  },
    components : { Navbar,
    MyordersDetailsbody,
    FooterComponent
    }
}
</script>
