<template>
    <div>
    <navbar></navbar>
    <product-rating-body></product-rating-body>
    <footer-component></footer-component>
    </div>
    
</template>


<script>
import ProductRatingBody from '@/components/ProductRatingBody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'

export default {
    name : 'ProductRating',
    methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
    this.checkLogin();
  },
    components : { Navbar,
    ProductRatingBody,
    FooterComponent
    }
}
</script>
