<template>
  <div>
    <navbar></navbar>
    <productbody :product="product" :tocart="addtoCart" :towishlist="addtowishlist"></productbody>
    <merchant-component :merchant="merchant" :tocart="addtoCart"></merchant-component>
    <div v-if ="review.length != 0">
      <h3 style="margin:2% 5%;">Product Review</h3>
      <div class="text-center">
      <img id="loader" class="invisible" src='../assets/images/giphy.gif'>
      </div>
      <review-component :review="review"></review-component>
     </div>
    <div>
      <footer-component></footer-component>
    </div>
  </div>
</template>


<script>
import Productbody from "@/components/Productbody";
import ReviewComponent from "@/components/ReviewComponent";
import Navbar from "@/components/Navbar";
import FooterComponent from "@/components/FooterComponent";
import MerchantComponent from "@/components/MerchantComponent";
import firebase from 'firebase';
import { BASE_URL_CART, BASE_URL_MERCHANT , BASE_URL_PRODUCT , BASE_URL_PRODUCT_REVIEW, BASE_URL_WISHLIST } from '../config/Endpoints.js'

export default {
  name: "Product",
  data() {
    return {
      product: {},
      merchant: {},
      review:{}
    };
  },
  methods: {

    addtoCart(productId,merchantId, redirection) {

      if(firebase.auth().currentUser == null){
          this.socialLogin();
      }else{

      
      console.log(productId + " " + merchantId);
      console.log(localStorage.getItem("userID"));
      console.log(firebase.auth().currentUser);
      firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
        var payload = {
            
                idToken: idToken,
                merchantId: merchantId,
                productId: productId,
                quantity: 1,
                userId: firebase.auth().currentUser.uid
            
        };

        var data = new FormData();
        data.append( "json", JSON.stringify( payload ) );

        fetch(BASE_URL_CART + "add",
        {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify( payload )
        })
        .then(function(res){ return res.json(); })
        .then(function(data){ 
          alert( data.idToken );
          if(redirection)
            window.location.replace('/checkout');
          
          //this.redirectionCall(redirection);
        })

      }).catch(function(error) {
        console.log(error);
          
      });

      

      }
    },

    addtowishlist(productId){
       if(firebase.auth().currentUser == null){
          this.socialLogin();
      }
      else{
       var payload = {
          
                productId: productId,
                userId: firebase.auth().currentUser.uid
            
        };

      

        fetch(BASE_URL_WISHLIST + "add",
        {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify( payload )
        })
        .then(function(res){ return res.json(); })
        .then(function(data){ 
          
    
          alert( "Added to Wishlist" );
          //this.redirectionCall(redirection);
        })

      }
    },

    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result);
          this.displayUser = false;
          this.photoURL = result.user.photoURL;
          localStorage.setItem("loginStatus", true);
          localStorage.setItem("photoURL", result.user.photoURL);
          localStorage.setItem("userId",result.user.uid);
          window.location.reload();
          //this.$router.replace('home');
        })
        .catch(err => {
          alert("Oops. " + err.message);
        });
    }
  },
  mounted() {
    
    fetch(
      BASE_URL_PRODUCT + "select/" + this.$route.params.productId
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.product = data;
        
      })
      .catch(err => {
        console.log(err);
      });

      fetch(
      BASE_URL_MERCHANT + "product/selectAllMerchants/" + this.$route.params.productId
    )
      .then(response => {
           if(response != null)
                  return response.json();
                else
                  return "No merchant";
       
      })
      .then(data => {
        if(data != "No merchant"){

        
        console.log(data);
        this.merchant = data;
        document.getElementById('loader').classList.remove("invisible");
        }
      })
      .catch(err => {
        console.log(err);
      });

      fetch(
      BASE_URL_PRODUCT_REVIEW + "getReviews/" + this.$route.params.productId
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.review = data;
        document.getElementById('loader').classList.add("invisible");
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { Navbar, Productbody, FooterComponent, MerchantComponent,ReviewComponent }
};
</script>

<style>

.invisible{
  display: none;
}

</style>
