<template>
<div>
  <navbar></navbar>
  <profile-body></profile-body>
  <footer-component></footer-component>
</div>
</template>
<script>
import ProfileBody from '@/components/ProfileBody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'

export default {
  name: 'Profile',
  components: {
        Navbar,
        ProfileBody,
        FooterComponent
  },
  mounted() {
    this.checkLogin();
  },
  methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  }

}
</script>