<template>
    <div>
    <navbar></navbar>
    <div v-if="productList.length == 0" class="text-center" style="margin:50px">
        <img src="../assets/images/noresult.png" style="width:500px">
    </div>
    <categorybody v-else :productList="productList"></categorybody>
    
    <footer-component></footer-component>
    </div>
</template>

<script>
import Categorybody from '@/components/Categorybody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'
import { BASE_URL_SERACH } from '../config/Endpoints.js'

export default {
    name: 'SearchProduct',
    data() {
        return {
            productList : []
        }
    },
    mounted()  {
             fetch(BASE_URL_SERACH + 'find?searchTerm='+this.$route.params.string).then(response => {
			  return response.json();
			}).then(data => {
                console.log(data);
                this.productList = data;
			}).catch(err => {console.log(err)
            });
            
    },
    components:{
        Categorybody,Navbar,FooterComponent
    }

}
</script>

<style>

</style>
