<template>
    <div>
    <navbar></navbar>
    <Thankyoubody :productList="productList" ></Thankyoubody>
    <footer-component></footer-component>
    </div>
</template>


<script>
import Thankyoubody from '@/components/Thankyoubody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'
import { BASE_URL_ORDER } from '../config/Endpoints.js'

export default {
    name : "Thankyou",
    data () {
      return {
          productList : [{}]
      }
    },
    methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
    mounted () {
        this.checkLogin();
      fetch(BASE_URL_ORDER + 'selectOrderById/'+ this.$route.params.orderId).then(response => {
			  return response.json();
			}).then(data => {
			  // Work with JSON data here
		  	
          console.log(data);
          this.productList = data;
          
			}).catch(err => {console.log(err)
			});			
    },
    components : { Navbar,
    Thankyoubody,
    FooterComponent
    }
}
</script>
