<template>
<div>
  <navbar></navbar>
  <div v-if="productList.length != 0"> 
  <wishlist-body :productList="productList"></wishlist-body>
  </div>
  <div v-else class="text-center">
    <img src="../assets/images/empty-cart.png" style="display: block; margin: 0 auto;">
  </div>
  <footer-component></footer-component>
</div>
</template>
<script>
import WishlistBody from '@/components/WishlistBody'
import Navbar from '@/components/Navbar'
import FooterComponent from '@/components/FooterComponent'
import { BASE_URL_WISHLIST } from '../config/Endpoints.js'
import firebase from "firebase"

export default {
  name: 'Wishlist',
  data(){
    return {
      productList:[{}]
    }
  },
  methods: {
    checkLogin () {
            var data = localStorage.getItem("loginStatus");
            //console.log(firebase.auth().currentUser);
            if (data == "true") {
                console.log("vdseg");
            this.displayUser = false;
            this.photoURL = localStorage.getItem("photoURL");
            } else {
                console.log("vdsegvdjsbnvseb");
            this.displayUser = true;
            this.photoURL = "";
            this.$router.push('/home');
            }  
        }
  },
  mounted () {
    this.checkLogin();
    
    console.log(BASE_URL_WISHLIST + 'findbyuser/'+localStorage.getItem("userId") );
      fetch(BASE_URL_WISHLIST + 'findbyuser/'+localStorage.getItem("userId")).then(response => {
			  return response.json();
			}).then(data => {

          console.log(data);
          this.productList = data;
          
			}).catch(err => {console.log(err)
			});			
    },
  components: {
        Navbar,
        WishlistBody,
        FooterComponent
  }
}
</script>