
<template>
  <div>
    <div
      v-if="productList.products.length == 0"
      style="text-center"
    >
      <img src="../assets/images/empty-cart.png" style="display: block; margin: 0 auto;">
      <h2 style="text-align: center"> Cart is Empty </h2>
    </div>
    <div
      v-else
      class="row"
      v-for="(product,index) in productList.products"
      v-bind:key="index"
      style="border: 2px solid #D1CACA;border-radius: 12px;margin-top:3%;"
    >
      <div class="span4">
        <img class="col-md-3" v-bind:src="product.imageUrl" alt="Card image cap" style="padding: 40px;">
        <div class="content-heading" style="padding-top:3%;">
          <h5>{{product.productName}}</h5>
          <p>
            Price : {{product.price}}
            <br>
            USP : {{product.usp}}
          </p>
          <p>Description :
            <br>
            {{product.description}}
          </p>
          <div class="row" style="margin-top:20px">
            <div class="col-sm-1">
              <button
                id="b1"
                @click="cartUpdate(product.cartId,product.merchantId,product.productId,product.quantity,index,0)"
                type="button"
                style="border-radius: 50%;background-color:  #fd7e14;"
              >-</button>
            </div>
            <div class="col-sm-1">
              <p id="product.cartId">{{product.quantity}}</p>
            </div>
            <div class="col-sm-1">
              <button
                id="b2"
                @click="cartUpdate(product.cartId,product.merchantId,product.productId,product.quantity,index,1)"
                type="button"
                style="border-radius: 50%;background-color:  #fd7e14;"
              >+</button>
            </div>
            <div class="col-sm-3">
              <button
                id="delete"
                class="btn btn-danger"
                style="padding: 2px 15px;"
                @click="deleteFunction(product.cartId,index)"
              >Delete</button>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col-sm-3">
              <input style="border-radius:5px" class="form-group" type="number" :id="product.cartId" min="0">
            </div>
            <div class="col-sm-3">
              <button
                id="update"
                class="btn btn-danger"
                style="padding: 2px 13px;background-color:#fd7e14;border-color:#fd7e14;"
                @click="cartUpdate(product.cartId,product.merchantId,product.productId,product.quantity,index,2)"
              >Update</button>
            </div>
          </div>
          <div class="col-sm-6" >
               <b>Total</b>
              <p>{{ product.quantity *  product.price}}</p>
            </div>
        </div>
      </div>
      
    </div>
    <div v-if="productList.products.length != 0" class="text-center" style="margin:3%;">
        <button
          @click="checkout"
          id="checkout"
          class="btn btn-info btn-sx"
          type="button"
          style="padding:1%;width:150px;"
        >Check Out</button>
      </div>
  </div>
</template>
<style>
.span4 img {
  float: left;
  height: 400px;
  padding-right: 4%;
}
</style>
<script>
import { BASE_URL_CART } from "../config/Endpoints.js";
import firebase from "firebase";

export default {
  name: "Cartbody",
  props: {
    productList: {
      type: Array,
      required: true
    }
  },

  methods: {
    cartUpdate(cartId, merchantId, productId, quantity, index, operation) {
      document.getElementById("b1").disabled = true;
      document.getElementById("b2").disabled = true;
      document.getElementById("update").disabled = true;
      document.getElementById("delete").disabled = true;
      document.getElementById("checkout").disabled = true;
      if (operation == 0) {
        quantity = quantity - 1;
      } else if (operation == 1) {
        quantity = quantity + 1;
      }
      else if (operation == 2) {
        quantity = document.getElementById(cartId).value;
      }
      quantity=Number(quantity);
      var copy=quantity;
      this.productList.products[index].quantity = quantity;
      if(quantity==0){
        this.deleteFunction(cartId,index);
      }
      else{
        firebase
        .auth()
        .currentUser.getIdToken(true)
        .then(function(idToken) {
          var payload = {
            idToken: idToken,
            merchantId: merchantId,
            userId: firebase.auth().currentUser.uid,
            productId: productId,
            cartId: cartId,
            quantity: quantity
          };

          fetch(BASE_URL_CART + "update", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(payload)
          })
            .then(function(res) {
              return res.json();
            })
            .then(function(data) {
              alert( JSON.stringify( data.idToken ) );
              if(data.idToken != "Successfully added to cart"){
                window.location.reload();
              }
            });
        })
        .catch(function(error) {
          console.log(error);
        });
      }
      document.getElementById("b1").disabled = false;
      document.getElementById("b2").disabled = false;
      document.getElementById("update").disabled = false;
      document.getElementById("delete").disabled = false;
      document.getElementById("checkout").disabled = false;
    },
    deleteFunction(cartId, index) {
      console.log(cartId);
      fetch(BASE_URL_CART + "delete/" + cartId, {
        method: "DELETE"
      }).then(response => response.json());
      this.productList.products.splice(index, 1);
    },
    checkout() {
      this.$router.push("/checkout");
    }
  }
}
</script>
