
<template>
  <div class="container">
    <div
      v-for="(product,index) in productList"
      v-bind:key="index"
      class="col-md-4"
      style="padding-right:2%;display:inline-block;margin-top:2%;margin-bottom:2%;"
    >
      <div class="card" style="width: 18rem;">
        <button
          :disable="product.stock == 0"
          style="background-color:Transparent; border: none;"
          @click="go(product.productId)"
        >
          <img
            class="card-img-top"
            v-bind:src="product.imageUrl"
            alt="Product Image"
            style="min-height: 200px; max-height: 400px; padding: 40px;"
          >
          <div v-if="product.stock == 0" class="text-block">
            <h4
              style="font-size: 32px;
    transform: rotate(328deg);
    padding-bottom: 100px;
    margin-left: 53px;"
            >Out of Stock</h4>
          </div>
        </button>
        <div class="card-body text-center">
          <div style="height: 50px; overflow: hidden;">
            <h5 class="card-title">{{product.productName}}</h5>
          </div>
          <div style="margin:10px 65px">
            <star-rating
              v-bind:increment="0.5"
              :rating="product.rating"
              :show-rating="false"
              :padding="5"
              :read-only="true"
              active-color="#fd7e14"
              :glow="4"
              v-bind:star-size="20"
              id="rating"
            ></star-rating>
          </div>
          <p v-if="product.stock != 0" class="card-text">₹ {{product.price}}</p>
          <p v-else class="card-text">
            <span style="color: red;">
              <b>Out of Stock</b>
            </span>
          </p>
          <div style="margin-top: 10px;">
            <button
              v-if="product.stock != 0"
              @click="go(product.productId)"
              class="btn btn-info"
            >See Details</button>
            <button
              v-if="product.stock == 0"
              @click="notifyme(product.productId)"
              style="background-color: #fd7e14; border-color: #fd7e14 "
              class="btn btn-primary"
            >Notify Me</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>

<script>
import StarRating from "vue-star-rating";

export default {
  name: "Categorybody",
  props: {
    productList: {
      type: Array,
      required: true
    }
  },
  methods: {
    go(productId) {
      console.log("I am clicked");
      this.$router.push("/product/" + productId);
    },
    notifyme(productId) {
      if (firebase.auth().currentUser == null) {
        this.socialLogin();
      } else {
        console.log(firebase.auth().currentUser);
        firebase
          .auth()
          .currentUser.getIdToken(true)
          .then(function(idToken) {
            var payload = {
              userId: firebase.auth().currentUser.uid,
              productId: productId,
              fcmToken: "nil"
            };

            fetch(BASE_URL_NOTIFY + "product/stockNotification", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(payload)
            })
              .then(function(res) {
                alert("You will be notified when product is available");
              })
              .then(function(data) {});
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result);
          this.displayUser = false;
          this.photoURL = result.user.photoURL;

          //  localStorage.setItem("loginStatus", true);
          localStorage.setItem("photoURL", result.user.photoURL);
          localStorage.setItem("userId", result.user.uid);

          //this.$router.replace('home');
        })
        .catch(err => {
          alert("Oops. " + err.message);
        });
    }
  },
  components: {
    StarRating
  }
};
</script>

<style>
.text-block {
  position: absolute;
  bottom: 50%;
  right: 20px;
  background-color: transparent;
  color: red;
  padding-left: 20px;
  padding-right: 20px;
}
</style>

