<template>
  <div>
    <div class="row" v-for="(product,index) in productList.products" v-bind:key="index" style="border: 2px solid #D1CACA;border-radius: 12px;margin-top:3%;">
        <div class="span4">
            <img class="col-md-3" v-bind:src="product.imageUrl" alt="Card image cap" style="padding: 40px">
            <div class="content-heading" style="padding-top:3%;">
                    <h5>{{product.productName}}</h5>
                    <p><b>Price : ₹ </b> {{product.price}}<br><b>USP :</b> {{product.usp}}<br> <b>Quantity: </b> {{ product.quantity }} </p><p><b>Description :</b><br> {{product.description}}</p>
                  
                    <div class="col-sm-6" >
               <b>Total</b>
              <p>{{ product.quantity *  product.price}}</p>
            <div>
                   
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div>
      <div style="margin-top:3%;margin-bottom:3%">
        <h1>
          <b>Please provide information</b>
        </h1>
      </div>
      
        <div class="form-group">
          <label for="address">Address :</label>
          <textarea :name="address" :value="address" class="form-control" id="address" required></textarea>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number :</label>
          <input :name="phoneNo" :value="phoneNo" type="text" class="form-control" id="phone" pattern="[789][0-9]{9}" required>
        </div>
        <div class="text-center" style="margin:3%;">
          <button @click="checkout"
            class="btn btn-info btn-sx"
            type="submit"
            style="padding:1%;width:150px;"
            id="btncheckout"
          >Place Order</button>
        </div>
        <div class="text-center">  
          <img src="../assets/images/giphy.gif" class="invisible" id="loader" >
        </div>
      
    </div>
  </div>
</template>
<style>
    .span4 img{
        float:left;
        height:400px;
        padding-right:4%;
    }
</style>

<script>
import firebase from 'firebase';
import { BASE_URL_ORDER, BASE_URL_CART, BASE_URL_USER } from '../config/Endpoints.js'
export default {
  name: "Checkoutbody",
  data:{
      phoneNo: '',
      address: '',
      userOrderId : ''
  },
  props: {
    productList: {
      type: Array,
      required: true
    }
  },
  mounted() {
     fetch(BASE_URL_USER + "get/" + localStorage.getItem("userId") ) 
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.address = data.address;
        this.phoneNo = data.phoneNo;
      
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods : {

    checkout(){

      document.getElementById('btncheckout').classList.add("invisible");
      document.getElementById('loader').classList.remove("invisible");

      console.log( document.getElementById('phone').value);
      console.log( document.getElementById('address').value);
            if(firebase.auth().currentUser == null){
                this.socialLogin();
            }else{

            console.log(firebase.auth().currentUser);
            firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
                var payload = {

                    idToken: idToken,
                    address: document.getElementById('address').value,
                    emailId: firebase.auth().currentUser.email,
                    phoneNo: document.getElementById('phone').value,
                    userId: firebase.auth().currentUser.uid
                    
                };

                fetch(BASE_URL_ORDER + "add",
                {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json"
                    },
                    body: JSON.stringify( payload )
                })
                .then(function(res){ return res.json();})
                .then(function(data){ 
                  if(data.idToken != "Order created")
                    alert( JSON.stringify( data.idToken ) ); 
                  else {
                // this.redirectToThankYou(data.userOrderId);
                    window.location.replace("/thankyou/" + data.userOrderId)
                  }
                    document.getElementById('loader').classList.add("invisible");
                    document.getElementById('btncheckout').classList.remove("invisible");
                })

            }).catch(function(error) {
                console.log(error);
                
            });
            //console.log(this.userOrderId);
            //this.$router.push('/thankyou/' + this.userOrderId);

            }
        }
  } 
};
</script>

<style>

.invisible{
  display: none;
}

.visible {
  display: block;
}
</style>