<template>
  <div>
  <!-- <footer class="page-footer font-small black" style="background-color: black">
  <div class="footer-copyright text-center py-3"><p style="color: white">© 2018 Copyright: <a href="#">Teknobli</a></p>
  </div>
  </footer> -->
  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color:darkgray;margin-top:50px">
  <!-- bottom: 0;position: fixed -->

    <div style="background-color: black;">
      <div class="container">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color:white">Get connected with us!</h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <img src="../assets/images/logo1.png" style="width: -webkit-fill-available;">
          <!-- <h1 class="text-uppercase font-weight-bold" style="color: white"><b>Teknobli</b></h1> -->
        </div>
        <!-- Grid column -->

        

        

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Bangalore, India</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@teknobli.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 91 9893123456</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Teknobli.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
</template>

<script>
export default {
  name: 'FooterComponent'
}
</script>
