<template>
<div>
    <div id="loader" class="text-center invisible">
        <img src="../assets/images/giphy.gif">
</div>
    <div v-for="(category,index) in categoryList" v-bind:key="index" >
        <div class="container">
        <div class="category-title">
           
           <router-link :to="'/category/' + category.category.categoryId"> 
          
           <h2>{{ category.category.categoryName}}</h2><hr> </router-link>
        </div>
        <home-body-category :productList="category.productList"></home-body-category>
        </div>
    </div>
</div>
</template>

<script>
import HomeBodyCategory from '@/components/HomeBodyCategory'
import { BASE_URL_PRODUCT } from '../config/Endpoints.js'
export default {
    name : "HomeBody",
    data () {
      return {
          categoryList : []
      }
    },
    mounted () {
        document.getElementById("loader").classList.remove("invisible")
      fetch(BASE_URL_PRODUCT + 'home').then(response => {
			  return response.json();
			}).then(data => {
			  // Work with JSON data here
		  	 document.getElementById("loader").classList.add("invisible")
          console.log(data);
          this.categoryList = data;
          
			}).catch(err => {console.log(err)
			});			
    },
    components : {
        HomeBodyCategory
    }

}



</script>

<style>
.invisible{
    display: none;
}
</style>


