<template>
    <div class="row">
       
      <div v-for="(singleMerchant, index) in merchant" :key="index" class="col-md-12">
        <div  v-if="index>0" class="row" style="border: 2px solid #D1CACA;margin:1% 1%;">
          <div class="col-md-6">
            <h4 style="margin-top: 2%;">{{singleMerchant.merchant.merchantName}}

               <button type="button" class="btn btn-success">
          {{Number((singleMerchant.merchant.rating).toFixed(1))}}
          <i class="fa fa-star" style="font-size:15px"></i>
        </button>
            </h4>
            <p>₹ {{singleMerchant.price}}
                 <!-- <button type="button" class="btn btn-success">
          {{singleMerchant.merchant.rating}}
          <i class="fa fa-star" style="font-size:15px"></i>
        </button> -->
            </p>
          </div>
          <div class="col-md-3">
            <button  @click="tocart(singleMerchant.productId, singleMerchant.merchant.merchantId,false)" href="/cart" class="btn btn-info" style="margin:10%;width:150px">
              <i class="fa fa-shopping-cart" style="font-size:24px;padding-right:1%"></i>
              Add To Cart
            </button>
          </div>

          <div class="col-md-3">
            <button
            @click="tocart(singleMerchant.productId, singleMerchant.merchant.merchantId,true)"
              href="/cart"
              class="btn btn-info"
              style="margin:10%;float:right;width:150px;background-color:#fd7e14;border-color:#fd7e14;"
            >
              <i class="fa fa-inr" style="font-size:20px;"></i>
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: 'MerchantComponent',
    props: {
    merchant: Object,
    tocart: Function
    
  }


}
</script>

<style>

</style>

