<template>
  <div class="container" style="padding:1% 3%;">
    <h1>{{merchant.merchantName}} Review and Rating</h1>

    <hr>
    <div class="form-group">
      <label for="review">Review :</label>
      <textarea class="form-control" v-model="review" id="review" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="rating">Rating :</label>
      <star-rating v-model="rating" id="rating" active-color="#fd7e14" v-bind:star-size="40"></star-rating>
    </div>
    <div class="form-group">
      <button
        @click="saveFunction()"
        class="btn btn-info btn-sx"
        type="button"
        style="padding:1%;width:150px;"
      >Save</button>
    </div>
  </div>
</template>

<script>
import StarRating from "vue-star-rating"
import firebase from 'firebase'
import { BASE_URL_MERCHANT, BASE_URL_MERCHANT_REVIEW } from '../config/Endpoints.js'
 
export default {
  name: "MerchantRatingBody",
  data() {
    return {
      merchant: [],
      review: "",
      rating: 0
    };
  },
  mounted () {
    fetch(
      BASE_URL_MERCHANT +"select/" + localStorage.getItem("merchantId")
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.merchant = data;
        
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: {
    StarRating
  },
  methods: {
    saveFunction() {
      console.log(this.review);
      console.log(this.rating);

      var merchantRating = this.rating;
      var merchantReview = this.review;
      var orderId = localStorage.getItem("orderId");
      var merchantId = localStorage.getItem("merchantId");

      if (firebase.auth().currentUser == null) {
        this.socialLogin();
      } else {
        console.log(firebase.auth().currentUser);
        firebase
          .auth()
          .currentUser.getIdToken(true)
          .then(function(idToken) {
            var payload = {
              idToken: idToken,
              merchantId: merchantId,
              userId: firebase.auth().currentUser.uid,
              orderId: orderId,
              rating: merchantRating,
              review: merchantReview,
            };

            fetch( BASE_URL_MERCHANT_REVIEW + "add", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(payload)
            })
              .then(function(res) {
                return res.json();
              })
              .then(function(data) {
                //alert(JSON.stringify(data.idToken));
                //this.$router.push('/thankyou/' + data.userOrderId);
                window.location.replace('/myordersdetails/' + orderId);
              });
          })
          .catch(function(error) {
            console.log(error);
          });
        localStorage.removeItem("orderId");
        localStorage.removeItem("merchantId");
        this.$router.push("/myordersdetails/" + orderId);
      }
    },
    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result);
          this.displayUser = false;
          this.photoURL = result.user.photoURL;
        
        //  localStorage.setItem("loginStatus", true);
          localStorage.setItem("photoURL", result.user.photoURL);
          localStorage.setItem("userId",result.user.uid);

          //this.$router.replace('home');
        })
        .catch(err => {
          alert("Oops. " + err.message);
        });
    }


  }
};
</script>
