<template>
<div class="text-md-center">
        <div v-if="myOrders.length == 0" >
                <img src="../assets/images/no-order.png" style="width: 40%">
                <h1> No orders </h1>
        </div>
        <div v-else>
        <h1 class="display-5" style="padding:3% 3%;">My Orders</h1>        
        <div class="row" style="margin:0 2%;">
            <div class="col-md-4" style="padding-top:2%">
                    <h5>Order Id</h5>
            </div>
            <div class="col-md-4" style="padding-top:2%">
                    <h5>Address</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>OrderTime&Date</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
            </div>
            
        </div>
        <div v-for="(order, index) in myOrders" :key="index" class="row" style="border: 2px solid #D1CACA;margin:1% 1%;">
            <div class="col-md-4" style="padding-top:2%">
                    <h5>{{order.userOrder.userOrderId}}</h5>
            </div>
            <div class="col-md-4" style="padding-top:2%">
                    <p>{{order.userOrder.address}}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <p>{{ Date(order.userOrder.orderTimeStamp) }}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <router-link :to="'/myordersdetails/'+order.userOrder.userOrderId"  class="btn btn-info">See Order Details</router-link> 
            </div>
            
        </div>
        </div>
        
</div>
</template>

<script>
import { BASE_URL_ORDER } from '../config/Endpoints.js'
export default {
  name: "MyordersBody",
  data(){
            return{
                    myOrders: []
            }
    },
    mounted() {
    //console.log("dsbvjkgfr");
    fetch(
      BASE_URL_ORDER + "select/" + localStorage.getItem("userId")
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.myOrders = data;
      })
      .catch(err => {
        console.log(err);
      });
//       document.getElementById('loader').classList.add("invisible");
  }
}
</script>

<style>
  .invisible{
    display: none;
  }
</style>

