
<template>
    <div class="text-md-center">
        <h1 class="display-5" style="padding:3% 3%;">Order Details</h1>
        
        <div class="row" style="margin:0% 1%">
            <div class="col-md-4" style="padding:2% 0%">
                    <h5>Order Id</h5>
            </div>
            <div class="col-md-2" style="padding:2% 0%">
                    <h5>Email Address</h5>
            </div>
            <div class="col-md-4" style="padding:2% 0%">
                    <h5>Address</h5>
            </div>
            <div class="col-md-2" style="padding:2% 0%">
                    <h5>Phone No</h5>
            </div>
            
        </div>


        <div class="row" style="border: 2px solid #D1CACA;margin-bottom:3%;margin-left:1%;margin-right:1%;">
            <div class="col-md-4" style="padding:2%">
                    <h5>{{myOrders.userOrderId}}</h5>
            </div>
            <div class="col-md-2" style="padding:2% 0%">
                    <h5>{{myOrders.emailId}}</h5>
            </div>
            <div class="col-md-4" style="padding:2% 0%">
                    <h5>{{myOrders.address}}</h5>
            </div>
            <div class="col-md-2" style="padding:2% 0%">
                    <h5>{{myOrders.phoneNo}}</h5>
            </div>
            
        </div>
        
        <div class="row" style="margin:0 2%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Product Name</h5>
            </div>
            <div class="col-md-1" style="padding-top:2%">
                    <h5>Quantity</h5>
            </div>
            <div class="col-md-1" style="padding-top:2%">
                    <h5>Price</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Total</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Merchant Name</h5>
                </div>
            
        </div>
        <div v-for="(product, index) in myOrders.recieptProductDTOList" :key="index" class="row" style="border: 2px solid #D1CACA;margin:1% 1%;">
            <div class="col-md-2">
            <img class="imgs" :src="product.imageUrl" alt="Card image cap" style="width: 25%;
    
    margin: 15%;">
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>{{product.productName}}</h5>
            </div>
            <div class="col-md-1" style="padding-top:2%">
                    <p>{{product.quantity}}</p>
            </div>
            <div class="col-md-1" style="padding-top:2%">
                    <p>{{product.price}}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <p>{{ product.quantity *  product.price}}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    {{product.merchantName}}
            </div>
           <div class="col-md-2" >
            <button  :disabled="product.merchantRating>0" @click="merchantReview(myOrders.userOrderId,product.merchantId)" class="btn btn-primary btn-sx" type="button" style="margin:1%;padding:1%;width:150px;margin-top: 23px">Merchant Review</button>
            <button :disabled="product.productRating>0" @click="productReview(myOrders.userOrderId,product.productId)" class="btn btn-primary btn-sx" type="button" style="margin:1%;padding:1%;width:150px;background-color:#fd7e14;border-color:#fd7e14;">Product Review</button>
           </div>
        </div>
        
</div>
</template>
<script>
import { BASE_URL_ORDER } from '../config/Endpoints.js'
export default {
    name : "MyordersDetailsbody",
    data(){
            return{
                    myOrders: []
            }
    },
    mounted() {
    //console.log("dsbvjkgfr");
    fetch(BASE_URL_ORDER + "selectOrderById/" + this.$route.params.orderId
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.myOrders = data;
        
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    merchantReview (orderId,merchantId) {
      localStorage.setItem("orderId",orderId);
      localStorage.setItem("merchantId",merchantId);
      this.$router.push('/merchantrating');
    },
    productReview (orderId,productId) {
      localStorage.setItem("orderId",orderId);
      localStorage.setItem("productId",productId);
      this.$router.push('/productrating');
    } 
  }
}
</script>

