
<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px">
    <div class="row">
      <div class="col-md-2">
        <router-link to="/home" class="navbar-brand" style="background-color:Transparent;border:none;">
          <img src="../assets/images/logo2.png" style="width: 85px;">
        </router-link>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-right: 50px!important;">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >Categories</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div v-for="(category,index) in categoryList" v-bind:key="index">
              <a
                class="dropdown-item"
                :href="'/category/'+category.categoryId"
              >{{category.categoryName}}</a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </li>
      </ul>
     
        <input
          class="form-control mr-sm-3"
          type="search"
          placeholder="Search"
          aria-label="Search"
          style="width: 500px"
          id="search"
          list="searchList"
          v-on:keyup="searchString"
        >
        <datalist id="searchList">
            <div v-for="(string, index) in strings" :key="index">
            <option style="width: 500px" :value="string"></option>
            </div>
            
        </datalist>

        <button @click="search" class="btn btn-outline-success my-2 my-sm-0 myhover" type="submit" style="border-color:white;color:white;">
          <i class="fa fa-search" style="font-size:18px; width:25px;"></i>Search
        </button>
      

      <button @click="cartLink"
        class="btn btn-outline-default myhover"
        style="color:white;border-color:white;float: right;margin-left: 16%;"
      >
        <i class="fa fa-shopping-cart"></i>
        <div style="display:inline;text-decoration:underline;font-size:15px;">Cart</div>
      </button>
      <button
        v-if="displayUser == true"
        @click="socialLogin"
        class="btn btn-outline-default myhover"
        style="color:white;border-color:white;width:100px;float: right;margin-left: 1%;"
      >
        <i class="fa fa-google"></i>
        <div style="display:inline;text-decoration:underline;font-size:15px; ">Sign In</div>
      </button>

      <ul
        v-if="displayUser == false"
        class="dropdown"
        style="margin-top: 17px; margin-left: -2%"
      >
        <a class="dropdown-toggle" id="userimage" data-toggle="dropdown" href="#">
          <img
            :src="photoURL"
            class="img-circle img-responsive"
            style="border-radius: 50%;
    height: 50px;
    width: 50px;"
          >
          
        </a>
        <ul class="dropdown-menu dropdown-user">
           <li>
            <router-link to="/profile" >
              <i class="fa fa-user fa-fw"></i> My Profile
            </router-link>
          </li>
           <li>
            <router-link to="/wishlist" >
              <i class="fa fa-list fa-fw"></i> My WishList
            </router-link>
          </li>
          <li>
            <router-link to="/myorders" >
              <i class="fa fa-gear fa-fw"></i> My Orders
            </router-link>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" @click="logout">
              <i class="fa fa-sign-out fa-fw"></i> Logout
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </nav>
</template>

<script>
import firebase from "firebase";
import { BASE_URL_CATEGORY, BASE_URL_SERACH } from '../config/Endpoints.js'
export default {
  name: "Navbar",
  data() {
    {
      return {
        categoryList: [],
        photoURL: localStorage.getItem("photoURL"),
        displayUser: true,
        userId: localStorage.getItem("userId"),
        strings: []
      };
    }
  },
  methods: {
      searchString(){

        var searchString = document.getElementById('search').value;
        if(searchString.length >= 3){
            fetch(BASE_URL_SERACH+'keywords?searchTerm='+document.getElementById('search').value)
          .then(response => {
			  return response.json();
			}).then(data => {
                console.log(data);
                this.strings = data;
			}).catch(err => {console.log(err)
            });
        }
          
      },

    search() {
        var text=document.getElementById('search').value;
        if(text!="")
        {window.location.replace("/searchresult/"+document.getElementById('search').value);}
        else{
          alert("Please type something to seach.");
        }
        //this.$router.push("/searchresult/"+document.getElementById('search').value);
    },
    
    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result);
          this.displayUser = false;
          this.photoURL = result.user.photoURL;
          this.userId = result.user.uid;
          localStorage.setItem("loginStatus", true);
          localStorage.setItem("photoURL", result.user.photoURL);
          localStorage.setItem("userId",result.user.uid);
          localStorage.setItem("displayName",result.user.displayName);
          localStorage.setItem("email",result.user.email);

          //this.$router.replace('home');
        })
        .catch(err => {
          alert("Oops. " + err.message);
        });
    },

    cartLink(){

        if(firebase.auth().currentUser == null){
            this.socialLogin();
        }else{
            this.$router.push('/cart');
        }
    },

    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          localStorage.setItem("loginStatus", false);
          localStorage.setItem("userId","");
          localStorage.setItem("photoURL", "");
         
          localStorage.setItem("displayName","");
          localStorage.setItem("email","");

          this.displayUser = true;
          console.log("dvnj");
        });
        window.location.replace("/home");
    },
    ckecklogin: function() {
      // console.log(localStorage.getItem("loginStatus"));
    var data = localStorage.getItem("loginStatus");
    //console.log(firebase.auth().currentUser);
    if (data == "true") {
        console.log("vdseg");
      this.displayUser = false;
      this.photoURL = localStorage.getItem("photoURL");
    } else {
        console.log("vdsegvdjsbnvseb");
      this.displayUser = true;
      this.photoURL = "";
    }
    }
  },

  mounted() {
      
    fetch(BASE_URL_CATEGORY+"select")
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.categoryList = data;
      })
      .catch(err => {
        console.log(err);
      });
    this.ckecklogin();
  }
};
</script>
<style>
a {
  color: black;
}

#userimage::after {
  content: none;
} 

datalist {
    display: none;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

.myhover:hover {
  background-color: #fd7e14;
}
</style>
