<template>
<div class="container" style="padding:1% 3%;">
  <h1>Product Review and Rating</h1>
  <hr>
    <form>
      <div>
      <h4>{{myproduct.productName}}</h4>
      <img  class="img-fluid rounded"  v-bind:src="myproduct.imageUrl" alt="a" style="height:300px;">
      </div>
      <div class="form-group">
            <label>Review :</label>
            <textarea class="form-control" v-model="review" id="review" rows="3"></textarea>
      </div>
      <div class="form-group">
      <label>Rating :</label>
      <star-rating v-model="rating"
     v-bind:star-size="40" active-color="#fd7e14" id="rating"></star-rating>
      </div>
      <button class="btn btn-info btn-sx" type="button" @click="myReview" style="padding:1%;width:150px;margin-top:2%;">Save</button>
    </form>
</div>

</template>

<script>
import StarRating from 'vue-star-rating'
import { BASE_URL_PRODUCT , BASE_URL_PRODUCT_REVIEW } from '../config/Endpoints.js'
import firebase from 'firebase'

export default {
    name : 'ProductRatingBody',
    data(){
        return {
            myproduct:[],
            review:'',
            rating:0.0
        }
    },
    methods: {
        myReview(){

            

            if(firebase.auth().currentUser == null){
                this.socialLogin();
            }else{
            
            var productRating = this.rating;
            var productReview = this.review;
            var orderId = localStorage.getItem("orderId");
            var productId = localStorage.getItem("productId")
          
            console.log(firebase.auth().currentUser);
            firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
                
                var payload = {
                    idToken: idToken,
                    productId: productId,
                    orderId: orderId,
                    rating: productRating,
                    review: productReview,
                    userId: firebase.auth().currentUser.uid
                    
                };
                fetch(BASE_URL_PRODUCT_REVIEW + "add",
                {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json"
                    },
                    body: JSON.stringify( payload )
                })
                .then(function(res){ return res.json(); })
                .then(function(data){ 
                  //alert( JSON.stringify( data ) ) 
                  //this.$router.push('/thankyou/' + data.userOrderId);
                  window.location.replace('/myordersdetails/' + orderId);
                })
            }).catch(function(error) {
                console.log(error);
                
            });
            localStorage.removeItem("orderId");
            localStorage.removeItem("productId");
           // this.$router.push('/myordersdetails/' + orderId);
    }       

        },
        socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result);
          this.displayUser = false;
          this.photoURL = result.user.photoURL;
        
        //  localStorage.setItem("loginStatus", true);
          localStorage.setItem("photoURL", result.user.photoURL);
          localStorage.setItem("userId",result.user.uid);
          //this.$router.replace('home');
        })
        .catch(err => {
          alert("Oops. " + err.message);
        });
    }
    },
    components: {
        StarRating
    },
    mounted() {
    console.log(localStorage.getItem("productId"));
    fetch(
      BASE_URL_PRODUCT + "select/" + localStorage.getItem("productId")
    )
      .then(response => {
          
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.myproduct = data;
        
      })
      .catch(err => {
        console.log(err);
      });
  }
}
</script>
