
<template>
  <div class="container">
    <div class="row" style="padding-top:3%">
      <div class="col-md-5">
        <div class="col-md-12"> 
        <img
          class="img-fluid rounded"
          v-bind:src="product.imageUrl"
          alt="a"
          style="max-height:500px; min-width: 250px; width:400px;padding: 40px;"
        >
        </div>
        <div class="row">
          <div class="col-md-6">
             <button
            v-if="product.stock != 0"
            @click="tocart(product.productId, merchant[0].merchant.merchantId,false)"
            class="btn btn-info"
            style="padding:2%;width: 150px;"
          >
            <i class="fa fa-shopping-cart" style="font-size:24px;padding-right:1%"></i>
            Add To Cart
          </button>
          </div>
          <div class="col-md-6">
            <button
            v-if="product.stock != 0"
            @click="tocart(product.productId, merchant[0].merchant.merchantId,true)"
            href="/cart"
            class="btn btn-info"
            style="padding:2%;width: 150px;background-color:#fd7e14;border-color:#fd7e14;"
          >
            <i class="fa fa-inr" style="font-size:20px;"></i>
            Buy Now
          </button>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-3"></div>
          <div class="col-md-6">
             <button
            v-if="product.stock != 0"
            @click="towishlist(product.productId)"
            
            class="btn btn-success"
            style="padding:2%;width: 150px;"
          >
            <i class="fa fa-list" style="font-size:20px;"></i>
             Add Wish List
          </button>
          </div>
        </div>  
        
      </div>
      <div class="col-md-7">
        <h3>{{product.productName}}
        <button type="button" class="btn btn-success" style="padding:3px;">
          {{Number((product.rating).toFixed(1))}}
          <i class="fa fa-star" style="font-size:15px"></i>
        </button></h3>
        <p style="color:black;;font-size:20px">
          <div v-if="product.stock == 0">
            <b  style="color: red">Out of stock</b>
          </div>
          <div v-else>
             <b>₹ {{product.price}}</b> <br>
             <b>Stock : </b> {{ product.stock }}
          </div>
        
        <p style="color:orange;font-size:30px">{{product.usp}}</p>
        <div>
        <b>Sold by {{merchant[0].merchant.merchantName}}</b>
        <button type="button" class="btn btn-success" style="padding:3px;">
          {{Number((merchant[0].merchant.rating).toFixed(1))}}
          <i class="fa fa-star" style="font-size:15px"></i>
        </button>
        </div>
        <p style="color:black;font-size:20px">
          <br>
          <b>Description</b>
        </p>
        <p>{{product.description}}</p>
        <p style="color:black;;font-size:20px">
          <br>
          <b>Additional Information</b>
        </p>
        <div v-for="(pro,index) in (product.attributes)" v-bind:key="index">
          <li>{{index}} : {{pro}}</li>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BASE_URL_MERCHANT } from "../config/Endpoints.js";
export default {
  name: "Productbody",
  data() {
    return {
      merchant: []
    };
  },
  props: {
    product: Object,
    tocart: Function,
    towishlist: Function
  },
  mounted() {
    var productId = this.$route.params.productId;
    fetch(BASE_URL_MERCHANT + "product/selectAllMerchants/" + productId)
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.merchant = data;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

