<template>
  <div>
    <div class="row text-center" style="border: 2px solid #D1CACA;border-radius: 12px;margin:4%; font-size: 20px;">
      <div class="col-md-6">
        <img :src="photoURL" alt="Card image cap" style="padding: 40px; width: 60%; border-radius: 50%">
      </div>
      <div class="col-md-6" style="text-align: left; padding-top: 5%;" >
        <div>
          <p> <b> {{name}} </b></p>
        </div>
        <div>
          <p> <b> Email: </b>{{email}}</p>
        </div>
        <div>
          <p> <b>Phone No: </b> {{phoneNo}}</p>
        </div>
        <div>
          <p> <b> Address:  </b> {{address}}</p>
        </div>
        <div>
          <button class="btn btn-info" @click="myFunction1">Edit Profile</button>
        </div>
      </div>
    </div>
    <div
      style="border: 2px solid #D1CACA;border-radius: 12px;margin:4%;"
      id="edit"
      class="invisible"
    >
      <div class="container" style="padding:2%;">
        <h2>Edit Profile</h2>

        <div class="form-group">
          <label for="Phone">Phone Number:</label>
          <input
            type="phoneNo"
            class="form-control"
            id="phone"
            v-model="phoneNo"
            placeholder="Enter phone number"
            name="phoneNo"
          >
        </div>
        <div class="form-group">
          <label for="Address">Address</label>
          <br>
          <textarea
            placeholder="Enter Address"
            name="address"
            class="form-control"
            v-model="address"
            id="address"
            rows="3"
          ></textarea>
        </div>
        <button @click="myFunction" id="save" type="submit" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { BASE_URL_USER } from "../config/Endpoints.js";

export default {
  name: "ProfileBody",
  data() {
    return {
          
      name: localStorage.getItem("displayName"),
      email: localStorage.getItem("email"),
      photoURL: localStorage.getItem("photoURL"),
      address: "",
      phoneNo: "",
      uid: localStorage.getItem("userId")
    };
  },

  mounted() {
      
      //console.log(firebase.auth().currentUser)
       fetch(BASE_URL_USER + "get/" + this.uid ) 
      .then(response => {
        return response.json();
      })
      .then(data => {
        console.log(data);
        this.address = data.address;
        this.phoneNo = data.phoneNo;
      
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    myFunction() {

     
        var address = document.getElementById("address").value;
        var phoneNo = document.getElementById("phone").value;
        console.log(firebase.auth().currentUser);
        firebase
          .auth()
          .currentUser.getIdToken(true)
          .then(function(idToken) {
            var payload = {
              idToken: idToken,
              address: address,
              phoneNo: phoneNo,
              userId: firebase.auth().currentUser.uid
            };

            console.log(payload);
            fetch(BASE_URL_USER + "update", {
              method: "PUT",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(payload)
            })
              .then(function(res) {
                 
                return res.json();
              })
              .then(function(data) {
                alert("profile Updated");
                 document.getElementById("edit").classList.add("invisible");
                 this.$forceUpdate();
              });
          })
          .catch(function(error) {
            console.log(error);
          });
      

     
    },
    myFunction1() {
      
      document.getElementById("edit").classList.remove("invisible");
     
    }
  }
};
</script>
<style>
.invisible {
  display: none;
}
</style>