<template>
  <div>
    <div v-for="(reviewList,index) in review" v-bind:key="index">
    <div class="card" style="background:#DADADA;margin:1% 5%;">
        <div class="card-body" >
          <p class="card-text">User Name : {{reviewList.userId}}<br>Review : {{reviewList.review}}<br>Rating :</p>
           <star-rating v-bind:increment="0.5" :rating="reviewList.rating" :read-only="true" active-color="#fd7e14" :glow="4"
     v-bind:star-size="40" id="rating"></star-rating>
        </div>
    </div>
    </div>
  </div>
</template>
<script>
import StarRating from 'vue-star-rating'

export default {
  name: "ReviewComponent",
  props: {
   review: {
      type: Array,
      required: true
    }
  },
  components: {
        StarRating
    }
};
</script>
