
<template>
    <div class="text-md-center">
        <h1 class="display-3" style="padding:3% 0%;">Thank You!</h1>
        <div class="row" style="margin:0 2%;">
            <div class="col-md-3">
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Name</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Quantity</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Price</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>Total</h5>
            </div>
    </div>
        <div class="row" v-for="(product, index) in productList.recieptProductDTOList" v-bind:key="index" style="border: 2px solid #D1CACA;margin:1% 1%;">
            <div class="col-md-3">
            <img class="imgs" :src="product.imageUrl" alt="Card image cap" style="width: 15%;
    margin: 5%;">
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <h5>{{product.productName}}</h5>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <p>{{product.quantity}}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                    <p>{{product.price}}</p>
            </div>
            <div class="col-md-2" style="padding-top:2%">
                   
                    <p>{{ product.quantity *  product.price}}</p>
            </div>
    </div>
        <p class="lead" style="padding-top:3%;"><strong>Shop more for new things</strong></p>
        <p class="lead">
            <a class="btn btn-info btn-sm" href="/home" role="button">Continue Shopping</a>
        </p>
</div>
</template>
<script>
export default {
    name : "Thankyoubody",
    props: {
    productList: {
      type: Array,
      required: true
    }
  }
}
</script>

