<template>

  <div class="container">
    <div
      class="row"
      v-for="(product,index) in productList"
      v-bind:key="index"
      style="border: 2px solid #D1CACA;border-radius: 12px; margin-top : 3%"
    >
      <div class="span4">
        <img
          class="col-md-3"
          v-bind:src="product.imageUrl"
          alt="Card image cap"
          style="padding: 40px"
        >
        <div class="content-heading" style="padding-top:3%;">
          <h5>{{product.productName}}</h5>
          <p>
           
            <b>USP :</b>
            {{product.usp}}
            <br>
          </p>
          <p>
            <b>Description :</b>
            <br>
            {{product.description}}
          </p>

          <div class="row">
            <button @click="deleteFromWishList(product.attributes.wishListId,index)" class="btn btn-danger"> Delete</button>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</template>
<style>
.span4 img {
  float: left;
  height: 400px;
  padding-right: 4%;
}
</style>

<script>
import { BASE_URL_WISHLIST } from '../config/Endpoints';
export default {
  name: "Wishlistbody",
  props: {
    productList: {
      type: Array,
      required: true
    }
  },
  methods : {
    deleteFromWishList(wishListId,index) {
      console.log(wishListId);
      fetch(BASE_URL_WISHLIST + "delete/" + wishListId, {
        method: "DELETE"
      }).then(response => response.json());
      this.productList.splice(index, 1);
    }
    }
  
};
</script>

<style>
</style>